@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

img {
  display: block;
  padding: 0;
  max-width: 100%;
}

ol,
ul,
menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  width: 1200px;
  padding: 0 70px;
  gap: 30px;
  align-items: start;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.site-logo {
  display: block;
  margin-bottom: -20px;
}

.navigation-list,
.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 64px;
}

.navigation-list {
  flex: 1 1 339px;
  gap: 32px;
  align-items: baseline;
  margin-bottom: -1px;
}

.menu-list {
  flex: 1 1 270px;
  gap: 24px;
  margin-left: auto;
  justify-content: end;
}

.menu-list li {
  height: 100%;
}

.menu-item:last-child {
  margin-left: 8px;
}


.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 0;
}

.navigation-link-current {
  border-bottom: solid 2px #756257;
}

.menu-link {
  display: flex;
  color: #000000;
  text-decoration: none;
  min-height: 64px;
  align-items: center;
}

.main-container {
  flex-grow: 1;
}

.welcome-to-sedona {
  background-image: url("../images/index-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.intro_image {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 51px 0 82px 0;
}

.section-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-opening {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.advantages-opening .section-title {
  padding-top: 69px;
}

.advantages-opening p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 25px 0 90px 0;
}

.advantages {
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: stretch;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-with-picture {
  flex-basis: 100%;
  flex-direction: row;
}

.advantages-text {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-picture {
  flex: 1 0 60%;
  height: 100%;
  object-fit: cover;
}

.advantages-with-picture,
.advantages-with-picture .advantages-title {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-without-picture {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-without-picture-odd {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-logo {
  margin: 0 auto;
}

.are-you-interested {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 96px 304px;
}

.are-you-interested p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 54px;
}

.newsletter {
  width: 1200px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-image: url("../images/footer/subscribe.jpg");
  background-color: rgba(131, 179, 211, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter.catalog-newsletter {
  background-image: none;
  background-color: #ffffff;
  color: #333333;
}

.newsletter .section-title {
  color: #ffffff;
  padding-top: 96px;
}

.catalog-newsletter .section-title {
  color: #000000;
}

.newsletter-form {
  max-width: 684px;
  padding: 32px 0 104px 0;
  display: flex;
  margin: 0 auto;
}

.newsletter-field {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-left: 20px;
}

.footer-contacts {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
}

.footer-social-list {
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-phone {
  text-align: center;
}

.footer-phone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.background-for-catalog {
  background-image: url("../images/catalog/filter-background.jpg");
  background-color: rgba(131, 179, 211, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog-header {
  padding-left: 70px;
  padding-top: 35px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 495px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  color: #ffffff;
  display: flex;
  margin: 8px 0 0 0;
  padding: 0;
  gap: 10px;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-products {
  width: 1060px;
  margin: 40px 70px 0;
  padding-bottom: 70px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-group,
.catalog-filter-list {
  border: none;
  margin: 0;
  padding: 0;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.sorting-container {
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 70px 0 70px;
  margin-bottom: 40px;
}

.hotels-found-list {
  background-color: #ffffff;
}

.hotels-found-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 200px 0 0;
  padding: 0;
}

.select-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  gap: 94px;
  width: 292px;
  height: 49px;
  font-family: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.view-buttons-container {
  display: flex;
  gap: 8px;
  margin-left: 70px;
  padding: 0;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  justify-content: center;
  margin-bottom: 80px;
}

.hotel-card {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  padding: 20px;
  align-items: center;
}

.hotel-card-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
}

.hotel-card-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-top: 16px;
}

.hotel-card-type {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  overflow-wrap: break-word;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
  width: 140px;
  overflow-wrap: break-word;
}

.hotel-stars {
  justify-self: start;
  align-self: center;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  min-height: 36px;
  background: #756157;
  border-radius: 4px;
  border-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.search-hotel-button {
  width: 376px;
  min-height: 52px;
}

.newsletter-button {
  box-sizing: border-box;
  width: 232px;
  min-height: 52px;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  display: block;
  margin: 0;
  padding: 0;
}

.footer-social .button {
  background-color: transparent;
}

.apply-button {
  width: 191px;
  background: #82b3d3;
}

.reset-button {
  width: 191px;
  background: transparent;
  border: none;
}

.view-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #ffffff;
}

.more-about-button {
  text-decoration: none;
  width: 140px;
}

.add-to-favourites {
  width: 140px;
  background: #82b3d3;
  text-decoration: none;
}

.rating-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.rating-button {
  text-decoration: none;
  width: 140px;
  min-height: 37px;
  background: #f2f2f2;
}

.social-button {
  width: 47px;
  height: 40px;
}

.pagination {
  background-color: #ffffff;
  display: flex;
  padding: 0;
  margin-left: 70px;
  gap: 8px;
  padding-bottom: 60px;
}

.pagination-item {
  width: 60px;
  min-height: 60px;
  background: #82b3d3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  min-height: 100%;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item:nth-child(5) {
  background: transparent;
}

.pagination-current,
.pagination-current .pagination-link {
  color: #000000;
  background-color: #f2f2f2;
  cursor: default;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
